body{
    margin: 0%;
    background-color: white;
    /* background-color: white; */
    /* border: 0.5px solid red; */
}


.container{

    /* background-color:lightsteelblue; */
    background-color: white;
    width: 100vw;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.titleblock{
    width: 100%;
    height: 180px;

    background-image: url(./Photos/sgsits.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content:center;
    /* align-items: center; */

    /* background-color: lime; */

}

.newsandblog{
    /* border: 0.2px solid lime; */
    background-color: rgb(79, 215, 233);
    border-bottom: 2px solid gainsboro;
    width: 100%;
    height: 40px;

    font-size: 22px;
    font-family: cursive;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    /* background-color: blue; */
    /* border: 2px solid gainsboro; */
    border-radius: 0px;
    /* border-top: 2px solid gray; */

    /* box-shadow: 1px 1px 3px black; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;

    /* overflow: hidden; */
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
}



.picture{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: white;
    /* border-radius: 15px; */
    overflow: hidden;
    width: 95%;
    height: auto;
    /* height: 200px; */
}

.picture img{
    cursor: pointer;
    width: 100%;
    transform: scale(1.06);
    height: auto;
}

/* iframe{
    box-sizing: border-box;
    margin-top: 5px;
    width: 342px;
    height: 192.375px;
} */


.headline{
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    /* border-bottom: 1px solid gray; */
    /* border-top: 1px solid gray; */
    width: 100%;
    height: auto;

    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;


    /* font-family: 'Play', sans-serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: cursive; */
    font-size: 15px;
    font-style: bold;
    /* color:rgb(107, 107, 107); */
    color: black;
    letter-spacing: 0.5px;

    
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: center;


}


.blog{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height:auto;
    /* overflow-y: scroll; */

    padding:10px;

    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: cursive; */
    font-size: 13px;
    color:rgb(107, 107, 107);
    letter-spacing: 0.5px;

    /* overflow: scroll; */
}



.readbtn{
    border-top:1px solid grey ;
    background-color: white;
    width: 100%;
    height: 20px;
    box-sizing: border-box;


    background-image: url(./Photos/down.png);
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
} 


.reporter{
    box-sizing: border-box;
    /* border-top:1px solid gainsboro ; */
    border-bottom: 1px solid gainsboro;
    box-shadow: 0px 1px 2px lightgray ;
    background-color: white;
    width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 3px; */
}


.reportername{
    /* box-sizing: border-box; */
    background-color: white;
    width: 95%;
    height:auto;


    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 12px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;

    /* margin: 5px; */



    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.reportername span{
    font-style: normal;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4 */


.container img{
    width: 100%;
    height: auto;
}

